body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 40px;
  color: #f5a623;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;
}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
  margin: auto;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: normal;
  font-size: 36px;
  color: #f3f3f3;
  line-height: 48px;
  margin: auto;
}

#skills-h3 {
  color: #f5ae23;
  display: none;
}

.bioPicwelcomeMsg {
  display: flex;
  padding: inherit;
  align-items: center;
}

.bioPicwelcomeMsg div {
  vertical-align: middle;
  text-align: center;
  align-items: center;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  color: #f3f3f3;
}

.dark-gray {
  background-color: #4a4a4a;
}

.jumbotron {
  padding-top: 0;
  background-image: -moz-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6-15 */
  background-image: -webkit-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(to bottom, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 0;
  width: 200px;
  display: none;
  margin:  auto 10px;
  max-width: 100%;
  border: 3px solid orange;
  -webkit-border-radius: 40%;
  -moz-border-radius: 40%;
  border-radius: 40%;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

[data-icon]:before {
  font-family: icons;
  content: attr(data-icon);
  speak: none;
}

#main {
  background-color: saddlebrown;
}


/* Nav Bars */

 .navbar {
  box-shadow: 0px 0px;
  background: transparent;
  border: none;
}

.navbar-static-top {
  margin-bottom: 0;
}

.navbar-header {
  background-size: contain;
}

.navbar>.container .navbar-brand,
.navbar>.container .navbar-nav>li>a {
  color: #f5ae23;
}

.navbar>.container .navbar-nav>.active>a {
  font-weight: bolder;
  background: transparent;
}

.navbar>.container .navbar-brand:hover,
.navbar>.container .navbar-brand:focus,
.navbar>.container .navbar-nav>.active>a:hover,
.navbar>.container .navbar-nav>.active>a:focus,
.navbar>.container .navbar-nav>li>a:hover,
.navbar>.container .navbar-nav>li>a:focus {
  color: #fff;
  font-weight: bolder;
  background: transparent;
}

li .subnav,
li .footer {
  display: none;
  position: absolute;
  width: 800px;
  clear: both;
  margin-left: 0;
  float: left;
  background: transparent;
}

span.glyphicon {
  border: 2px solid #f5ae23;
  color: #f5ae23;
}

/* Panels */

.panel-group .panel {
  border: 0;
  box-shadow: 0 0 0;
  background-color: #ffe4b5;  /* burlywood */
}

.panel-default>.panel-heading {
  background: #8b4513;  /* saddlebrown */
}

.navajowhite {
  color: #ffdead;
}

.khaki {
  color: #f0e68c;
}

.peru {
  color: #cd853f;
}

.saddlebrown {
  background-color: #8b4513;
}


/* Media queries to handle various device widths */

@media only screen and (orientation: portrait) {
  .navbar-brand {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}

#content {
  background-color: #f5ae23;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}

@media only screen and (max-width: 750px) {

  .panel-group .panel-heading {
    display: none;
  }

  #lets-connect {
    display: inline-block;
  }

}
